* {
    margin: 0;
    padding: 0;
}
html{
    font-size:16px;
}
nav {
    background-color: rgb(202, 202, 170);
    text-align: center;
    font-size: 1em;
    position: fixed;
    width: 100%;
    top:0;
    z-index: 5;
}
nav a {
    font-family: "Comfortaa",'Courier New', Courier, monospace;
    color:rgb(0, 0, 0);
    text-decoration: none;
    padding: 20px 30px;
    margin: auto;
    display: inline-block;
    position: relative;

}

a:hover {
    background-color: bisque;
}

a:active {
    background-color: rgb(85, 134, 140, 0.8);
}

header {
    position: relative;
    height:90vh;
    background-position: center top;
    background-image: url(img/cover.jpg);
    background-size: cover;
    margin-top: 3.5em;
    text-align: center;
    justify-content: center;
}

header h1{
    position: relative;
    top: 35%;
    margin: auto;
    color: black;
    background-color: rgba(85, 134, 140, 0.8);
    padding: 20px;
    font-size:3.5em;
    font-family:"Comfortaa",'Courier New', Courier, monospace;
}

header a {
    font-family: "Comfortaa",'Courier New', Courier, monospace;
    text-decoration: none;
    font-size:1.5em;
    position: relative;
    top: 45%;
    color:rgb(238, 197, 132);
    font-weight: bold;
    text-shadow: 1px black;
    background-color: rgba(127, 99, 110);
    padding: 10px;
    border-radius: 10px;
}

.about, .where{
    position: relative;
    font-family: "Comfortaa",'Courier New', Courier, monospace;
    padding: 2em 5em;
    font-size: 1.5em;
    text-align: center;
    box-sizing: border-box;
}

.where img {
    width: 100%;
    height: auto;
}

.photos {
    position: relative;
    padding: 2em;
}
.photos img {
    width: 25%;
    margin: 1.5%;
  }

  @media only screen and (max-width: 1048px) {
  
    .photos img {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  
   }
  
  @media only screen and (max-width: 640px) {
  
 
    .photos img {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }

  }
  
  @media only screen and (max-width: 320px) {
  
    .photos img {
      width: 100%;
    }
  }
  

